<h1 align="center" style="margin-top: 2cm;">Đổi mật khẩu</h1>
<form action="/changePass" align="center" method="POST">
  Mật khẩu cũ:
  <input type="password" name="password" id="">
  <br><br>
  Mật khẩu mới:
  <input type="password" name="newpass1"id="">
  <br><br>
  Nhập lại mật khẩu mới:
  <input type="password" name="newpass2" id="">
  <br><br><br>
  <button type="submit">Đổi</button>
</form>
<h1 align="center">{{loginStatus}}  </h1>