
<form action="/login" method="POST">
<table width="600" height="300" border="2"cellpadding="5" align="center">
    <tr>
        <th colspan="2" style="color: red;">Đăng Nhập</th>
    </tr>
    <tr>
        <td>Tài Khoản:</td>
        <td><input type="text" placeholder="Nhập tên đăng nhập" size="50" name="user"id=""></td>
    </tr>
    <td>Mật Khẩu:</td>
     <td><input type="password"placeholder="Nhập mật khẩu" size="50"name="password" id=""></td>
     <tr>
         <td colspan="2" align="center">
             <button type="submit" >ĐĂNG NHẬP</button>
         </td>
     </tr>
</table>
</form>
<h1 align="center">{{loginStatus}}  </h1>

