<h1 align="center" style="color: coral;margin-top:3cm">Chào mừng bạn đến với dịch vụ của chúng tôi!</h1>

<br> <br>
<form action="/transfer"method="GET"align="center">
<button type="submit">Chuyển tiền</button>
</form>
<br><br><br><br>
<form action="/abc" method="GET" align="center">
 <button type="submit">Đổi mật khẩu</button>
</form>
