<h1 align="center" style="margin-top: 1,5cm;">Chuyển tiền</h1>
<br><br><br>
<form action="/Transfer" method="POST"align="center">
Nhập số tài khoản người nhận : <input type="number" name="sotk2">
<br><br>
Nhập số tiền muốn chuyển : <input type="number" name="money">
<br><br>
<button type="submit">Đồng ý</button>
</form>
<h1 align="center">{{loginStatus}}  </h1>

